
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    height: 100%;
    padding: 32px;
    background-color: rgb(30, 35, 52);
}
#canvas.container {
width: 800px;
height: 800px;
display: flex;
justify-content: stretch;
flex-direction: column;
border: 1px solid rgba(255,255,255, 0.10);
}
.row {
    display: flex;
    flex:1;
    border-bottom: 1px solid rgba(255,255,255, 0.10);
}

.square {
    border-right: 1px solid rgba(255,255,255, 0.10);
    flex:1;
}

.container .row:last-child {
    border-bottom: none;
}

.square:last-child{border-right: none;}
button {
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(81, 169, 216, 1);
    border: 1px solid #000;
}